<h2>Beta 0.x.x Update Notes</h2>

<p>Greetings...</p>

<p>Description...</p>

<p>Thank you all for appreciating my work, providing thoughtful feedback, and encouraging me to do even more. As always, please keep an eye on the development progress board here for visibility into what features are in progress and coming up next!</p>

<p><a href="https://gitlab.com/foundrynet/foundryvtt/boards" target="_blank" title="FVTT Story Board">https://gitlab.com/foundrynet/foundryvtt/boards</a></p>
<hr/>

<h3>New Features</h3>
<ul>
	<li></li>
</ul>
<hr/>

<h3>Core Bug Fixes</h3>
<ul>
	<li></li>
</ul>
<hr/>

<h3>Core Software, APIs, and Module Development</h3>
<ul>
	<li></li>
</ul>
<hr/>

<h3>D&D5e System Improvements</h3>
<ul>
	<li></li>
</ul>
<hr/>
